---
import MainLayout from "@/layouts/main-layout.astro";
import treatmentsData from "../../data/treatments.json";
import { Image } from "astro:assets";
import image1 from "../../assets/images/photo-1527137342181-19aab11a8ee8.avif";

export function getStaticPaths() {
  return treatmentsData.map((treatment) => ({
    params: { detalhe: treatment.href },
    props: { title: treatment.title, body: treatment.body },
  }));
}

// TODO: Adicionar container
// Ver sobre tamanhos das imagens
// Adicionar import dinamico de imagens

const { detalhe } = Astro.params;
const { title, body } = Astro.props;
---

<MainLayout title={title}>
  <div
    class="mt-12 pt-16 flex items-center justify-center mb-12 max-w-[1000px] max-h-[400px] mx-auto overflow-hidden"
  >
    <Image
      src={image1}
      alt="Imagem de teste"
      class="object-cover object-center"
    />
  </div>

  <div class="w-[1000px] m-auto flex flex-col mb-24">
    <h1 class="text-2xl font-semibold text-primary mb-6">{title}</h1>
    <p>{body}</p>
    <p>{body}</p>
    <h1 class="text-2xl font-semibold text-primary my-6">
      Tratamentos para a depressão <h1>
        <p>{body}</p>
        <p>{body}</p>
      </h1>
    </h1>
  </div></MainLayout
>
