---
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import MainLayout from "@/layouts/main-layout.astro";
import { Image } from "astro:assets";
import drFilipeOffice from "../assets/images/dr-filipe-office.jpg";
import drFilipeImage from "../assets/images/dr-filipe-no-bg.png";
import drFilipeBackground from "../assets/images/office-background-5.png";
import drFilipeBackgroundMobile from "../assets/images/office-background-mobile.png";
import drFilipeBackgroundMobileV2 from "../assets/images/office-background-mobilev2.png";
import {experienceData} from "../data/experience"
import Icon from "@/components/Icon.astro";
import SectionHeader from "@/components/layout/section-header.astro";
import SectionContainer from "@/components/layout/section-container.astro";
import treatmentsData from "../data/treatments.json";
// import treatmentsDataV2 from "../data/treatments-v2.json";
import Card from "@/components/Card.astro";
import TestimonialsCarousel from "@/components/TestimonialsCarousel";
import { YouTube } from "astro-embed";
// import AccordionComponent from "@/components/AccordionComponent"
import AccordionComponentApproach from "@/components/AccordionComponentApproach"
import AccordionComponentFAQ from "@/components/AccordionComponentFAQ"
import CookieBanner from '@/components/CookieBanner';

---



<MainLayout title="">
  <main>

    <CookieBanner client:load/>

    <section id="hero" class="relative md:h-[80vh] md:pb-20">
      <Image
        src={drFilipeBackground}
        alt="Dr. Filipe em consultório"
        class="absolute h-full md:w-full object-cover hidden md:inline-block"
      />
      <Image
        src={drFilipeBackgroundMobileV2}
        alt="Dr. Filipe em consultório"
        class="absolute w-full md:hidden mt"
      />
      <div
        class="pt-16 container flex md:max-w-[76rem] h-full md:gap-8 flex-col md:flex-row justify-center relative inset-0"
      >
        <div>
          <Image
            src={drFilipeImage}
            alt="Imagem do Dr. Filipe"
            width={650}
            class="invisible"
          />
        </div>
        <div
          class="flex flex-col items-center gap-8 md:pt-8 text-center justify-center"
        >
          <h1
            class="font-heading font-bold text-4xl md:text-5xl lg:text-6xl !leading-[1.1] text-balance"
          >
            Dr. Filipe Vidica
            <span class="text-primary">Médico Psiquiatra</span>
          </h1>

          <p
            class="max-w-[42rem] leading-normal text-muted-foreground text-lg sm:leading-8 text-balance"
          >
            <!-- Médico formado pela Universidade Federal de Ouro Preto (UFOP), com
            residência em Psiquiatria pelo Hospital das Clínicas da UFG. <br /> Atendimentos
            online para todo o Brasil. <br /> CREMERJ 5201258435 / RQE 49423 -->
            A complexidade da sua experiência humana não pode ser limitada por um distúrbio mental. Para o seu tratamento vamos entender a construção do seu sofrimento. <br />
          </p>
          <span class="text-md leading-normal text-muted-foreground sm:leading-8 text-balance">CREMERJ 5201258435 / RQE 49423</span>

          <!-- <p
            class="max-w-[30rem] leading-normal text-muted-foreground text-md sm:leading-8 text-balance"
          >
          Médico pela Universidade Federal de Ouro Preto (UFOP), psiquiatra pelo Hospital das Clínicas da Universidade Federal de Goiás (UFG).
          </p> -->


          <div
            class="flex flex-col md:flex-row gap-6 md:gap-4 justify-center space-x-2 md:space-x-4"
          >
            <a
              href="https://api.whatsapp.com/send?phone=5561999128853&text=Ol%C3%A1!%20Vi%20o%20site%20no%20Google%20e%20gostaria%20de%20saber%20mais%20sobre%20a%20consulta%20com%20o%20Dr.%20Filipe%20Vidica"
              target="_blank"
              class={cn(buttonVariants({ size: "lg", class: "text-md" }))}
            >
              <Icon name="whatsapp" width="7" height="7" className="mr-2" />
              Agendar consulta
            </a>
            <!--<a-->
            <!--  href="https://www.instagram.com/filipevidica/"-->
            <!--  target="_blank"-->
            <!--  rel="noreferrer"-->
            <!--  class={cn(-->
            <!--    buttonVariants({-->
            <!--      variant: "outline",-->
            <!--      size: "lg",-->
            <!--      class: "text-md",-->
            <!--    }),-->
            <!--    "px-4"-->
            <!--  )}-->
            <!--&gt;-->
            <!--  <span class="[&>svg]:h-7 [&>svg]:w-7 mr-2">-->
            <!--    <svg-->
            <!--      xmlns="http://www.w3.org/2000/svg"-->
            <!--      fill="currentColor"-->
            <!--      viewBox="0 0 448 512"-->
            <!--    >-->
            <!--      <path-->
            <!--        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"-->
            <!--      ></path>-->
            <!--    </svg>-->
            <!--  </span>-->
            <!--  Instagram-->
            <!--</a>-->
          </div>
        </div>
      </div>
    </section>

    <section id="situacoes-abordadas" class="py-16 md:py-20">
      <SectionContainer>
        <SectionHeader title="Situações Abordadas" icon="heartPulse" />
        <p
          class="max-w-[85%] leading-normal text-muted-foreground text-lg sm:leading-7"
        >
        Mais do que diagnosticar distúrbios mentais, a tarefa de um psiquiatra é desenvolver um raciocínio clínico na busca de um encaminhamento terapêutico individualizado.
        </p>

        <div
          class="container mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3"
        >
          {
            treatmentsData.map((treatment) => (
              <Card
                title={treatment.title}
                body={treatment.body}
                href={treatment.href}
                image={treatment.image}
                types={treatment.types}
              />
            ))
          }
          <!-- {
            treatmentsData.slice(0,6).map((treatment) => (
              <Card
                title={treatment.title}
                body={treatment.body}
                href={treatment.href}
                image={treatment.image}
                types={treatment.types}
              />
            ))
          } -->
        </div>
      </SectionContainer>
    </section>

    <section id="minha-abordagem" class="py-16 md:py-20 bg-[#f2f5f7]">
      <SectionContainer className="gap-8">
        <SectionHeader title="Minha abordagem" icon="magnifier" />
        <p
          class="max-w-[85%] leading-normal text-muted-foreground text-lg sm:leading-7"
        >
        Minha abordagem tem como base 4 pilares fundamentais:
        </p>

        <AccordionComponentApproach client:load />

        <!-- <AccordionComponent client:load/> -->


        <!-- <div class="container">
          <YouTube
            id="zhY-iODwlVQ"
            poster="https://images-assets.nasa.gov/image/0302063/0302063~medium.jpg"
            params="&modestbranding=1&rel=0&"
          />
        </div> -->
        <div class="pt-8">
          <a
            href="https://api.whatsapp.com/send?phone=5561999128853&text=Ol%C3%A1!%20Vi%20o%20site%20no%20Google%20e%20gostaria%20de%20saber%20mais%20sobre%20a%20consulta%20com%20o%20Dr.%20Filipe%20Vidica"
            target="_blank"
            class={cn(buttonVariants({ size: "lg", class: "text-md" }))}
          >
            <Icon name="whatsapp" width="7" height="7" className="mr-2" />
            Agendar consulta
          </a>
        </div>
      </SectionContainer>
    </section>

    <section id="sobre-mim" class="py-16 md:py-20 ">
      <SectionContainer className="gap-8">
        <SectionHeader title="Sobre mim" icon="user" />
        <!-- <p
          class="max-w-[85%] leading-normal text-muted-foreground text-lg sm:leading-7"
        >
          Conheça um pouco mais sobre o Dr. Filipe Vidica.
        </p> -->

        <!-- <AccordionComponent client:load/> -->


        <div class="container">
          <YouTube
            id="yc9cIrp7oek"
            poster=https://i.imgur.com/bjpWXkw.jpeg
            params="&modestbranding=1&rel=0&"
          />
        </div>

        <div class="flex flex-col items-center justify-center gap-2">
          <p
            class="max-w-[85%] lg:max-w-[75%] leading-normal text-muted-foreground text-md sm:leading-7 mt-2"
          >
          Eu sou o Filipe, natural de Goiânia-GO, um eterno curioso e apaixonado pela mente humana e neurociência. Dentro da medicina, minha história começou em 2010. Foi nessa época que cheguei à histórica cidade de Ouro Preto, em Minas Gerais, para em 2016 me formar em medicina na Universidade Federal De Ouro Preto.
          </p>

          <p
            class="max-w-[85%] lg:max-w-[75%] leading-normal text-muted-foreground text-md sm:leading-7 mt-2"
          >
          No ano de 2018, fui aprovado na concorrida Residência Médica (MEC) de Psiquiatria do Hospital das Clínicas da Universidade Federal de Goiás. Foram 3 anos de muito estudo e aprendizado com renomados psiquiatras, em que tive minha formação teórica e prática dessa especialidade da alma (do Grego: psykhé = alma + iatreía = cura). Minha experiência prática se solidificou além da residência, não apenas no consultório, mas também trabalhando em pronto socorro psiquiátrico, CAPS (Centro De atenção Psicossocial), Hospitais psiquiátricos com regime humanizado de internação, além de interconsultas psiquiátricas dadas para outros médicos em hospitais gerais.
          </p>

          <p
            class="max-w-[85%] lg:max-w-[75%] leading-normal text-muted-foreground text-md sm:leading-7 mt-2"
          >
          Essa foi um pouco da história da minha formação médica até aqui. Espero contribuir com a sua busca por saúde, diminuição do sofrimento e qualidade de vida.
          </p>

        </div>

        <div class="pt-8">
          <a
            href="https://api.whatsapp.com/send?phone=5561999128853&text=Ol%C3%A1!%20Vi%20o%20site%20no%20Google%20e%20gostaria%20de%20saber%20mais%20sobre%20a%20consulta%20com%20o%20Dr.%20Filipe%20Vidica"
            target="_blank"
            class={cn(buttonVariants({ size: "lg", class: "text-md" }))}
          >
            <Icon name="whatsapp" width="7" height="7" className="mr-2" />
            Agendar consulta
          </a>
        </div>
      </SectionContainer>
    </section>

    <section id="depoimentos" class="py-16 md:py-20 bg-[#f2f5f7]">
      <SectionContainer className="gap-0">
        <SectionHeader title="Depoimentos" icon="users" />
        <p
          class="max-w-[85%] leading-normal text-muted-foreground text-lg sm:leading-7 mt-8"
        >
          O que meus pacientes dizem sobre meu trabalho:
        </p>
        <TestimonialsCarousel client:load />
      </SectionContainer>
    </section>

    <section id="experience" class="py-16 md:py-20 ">
      <SectionContainer className="gap-0">
        <SectionHeader title="Formação e Experiência" icon="stethoscope" />
        <div class="flex flex-col md:flex-row gap-8 md:gap-8 pt-12">
          <div class="mx-auto">
            <Image
              src={drFilipeOffice}
              alt="Imagem do Dr. Filipe"
              width={750}
              class="md:rounded-xl md:shadow-lg md:shadow-primary/50"
            />
          </div>
          <div class="flex flex-col text-start px-8 justify-around">
            <ul>
              {experienceData.map(exp => (
                <li class="list-disc list-outside text-muted-foreground pb-2">{exp}</li>
              ))}
            </ul>
          </div>
        </div>
        <div class="flex flex-col gap-4 sm:max-w-[50%] mt-12">
          <a
            href="https://api.whatsapp.com/send?phone=5561999128853&text=Ol%C3%A1!%20Vi%20o%20site%20no%20Google%20e%20gostaria%20de%20saber%20mais%20sobre%20a%20consulta%20com%20o%20Dr.%20Filipe%20Vidica"
            target="_blank"
            class={cn(buttonVariants({ size: "lg", class: "text-md" }))}
          >
            <Icon name="whatsapp" width="7" height="7" className="mr-2" />
            Agendar via Whatsapp
          </a>

        </div>
      </SectionContainer>
    </section>

    <section id="faq" class="py-16 md:py-20 bg-[#f2f5f7]">
      <SectionContainer className="gap-8">
        <SectionHeader title="Dúvidas frequentes" icon="question" />

        <AccordionComponentFAQ client:load />

        <!-- <div class="pt-8">
          <a
            href="https://api.whatsapp.com/send?phone=5561999128853&text=Ol%C3%A1!%20Vi%20o%20site%20no%20Google%20e%20gostaria%20de%20saber%20mais%20sobre%20a%20consulta%20com%20o%20Dr.%20Filipe%20Vidica"
            target="_blank"
            class={cn(buttonVariants({ size: "lg", class: "text-md" }))}
          >
            <Icon name="whatsapp" width="7" height="7" className="mr-2" />
            Agendar consulta
          </a>
        </div> -->
      </SectionContainer>
    </section>

    <div class="flex flex-col py-20 gap-8 items-center px-8">
      <p
        class="leading-normal text-center text-muted-foreground text-lg sm:leading-7"
      >
        Realizo atendimentos online para todo o Brasil. Agende sua
        consulta diretamente pelo Whatsapp:
      </p>
      <a
        href="https://api.whatsapp.com/send?phone=5561999128853&text=Ol%C3%A1!%20Vi%20o%20site%20no%20Google%20e%20gostaria%20de%20saber%20mais%20sobre%20a%20consulta%20com%20o%20Dr.%20Filipe%20Vidica"
        target="_blank"
        class={cn(buttonVariants({ size: "lg", class: "text-md" }))}
      >
        <Icon name="whatsapp" width="7" height="7" className="mr-2" />
        Agendar via Whatsapp
      </a>
    </div>



    <!-- <section id="contact" class="py-16 md:py-20 ">
      <SectionContainer className="gap-0">
        <SectionHeader title="Atendimentos" icon="stethoscope" />
        <div class="flex flex-col md:flex-row gap-8 md:gap-12 pt-12">
          <div class="mx-auto">
            <Image
              src={drFilipeOffice}
              alt="Imagem do Dr. Filipe"
              width={750}
              class="md:rounded-xl md:shadow-lg md:shadow-primary/50"
            />
          </div>
          <div class="flex flex-col gap-8 items-center px-8">
            <p
              class="leading-normal text-muted-foreground text-lg sm:leading-7"
            >
              Realizo atendimentos online para todo o Brasil. Agende sua
              consulta diretamente pelo Whatsapp:
            </p>

            <div class="flex flex-col gap-4 sm:max-w-[50%] md:mt-12">
              <a
                href="https://api.whatsapp.com/send?phone=5561999128853&text=Ol%C3%A1!%20Vi%20o%20site%20no%20Google%20e%20gostaria%20de%20saber%20mais%20sobre%20a%20consulta%20com%20o%20Dr.%20Filipe%20Vidica"
                target="_blank"
                class={cn(buttonVariants({ size: "lg", class: "text-md" }))}
              >
                <Icon name="whatsapp" width="7" height="7" className="mr-2" />
                Agendar via Whatsapp
              </a>

            </div>
          </div>
        </div>
      </SectionContainer>
    </section> -->
  </main>
</MainLayout>