---
import TreatmentImage from "./TreatmentImage.astro";
import { Button, buttonVariants } from "./ui/button";
interface Props {
  title: string;
  body: string;
  href?: string;
  // icon: string;
  image: string
  types?: string
}

const { title, body, href, image, types } = Astro.props;
---

<div
  class="relative overflow-hidden md:min-h-[12rem] rounded-lg border mx-4 md:mx-0 bg-background hover:bg-muted hover:shadow"
>
  <div class="flex flex-col rounded-md p-5 h-full">
    <div class="mb-4 mx-auto">
      <TreatmentImage image={image}>
    </div>
    <div class="flex flex-col gap-2 ">      
      <h3 class="font-bold text-primary">{title}</h3>
      <p class="text-muted-foreground text-sm">{types}</p>
      <!-- <p class="text-md text-muted-foreground line-clamp-3">{body}</p> -->
      <!-- <ul class="list-disc marker:text-primary list-inside text-start">
        {types?.map((type)=> (
          <li class="md:text-sm text-muted-foreground">{type}</li>
        ))}
      </ul> -->
      <!-- <a
        href={`detalhes/${href}`}
        class={`cursor-pointer ${buttonVariants({ variant: "link" })}`}
        >Saiba mais</a
      > -->
    </div>
  </div>
</div>